@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  width: 85%;
  margin: 20px auto;
}

header .logo {
  height: 30px;
  margin-top: 20px;
}

.container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', 'Outfit', sans-serif;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.container h1 {
  font-size: 60px;
}

.container h2 {
  font-size: 48px;
}

.container h3 {
  font-size: 36px;
  color: #D20094;
  font-weight: 700;
}

.container h4 {
  font-size: 30px;
}

/* css per pagina feedback */

.stars img {
  filter: grayscale(100);
  cursor: pointer;
}

.stars img.active {
  filter: none;
}

.stars img.hover {
  filter: brightness(1.5);
}

/*//////////////////////////////////////////*/
/* CSS per timer */

#containerBenchmark {
  text-align: center;
}

#headerBenchmark {
  display: flex;
  justify-content: space-between;
}

.timer>svg {
  /* Container del timer */
  width: 220px;
  height: 220px;
  margin-top: 15px;
}

.timer>svg>circle {
  fill: none;
  stroke-opacity: 0.3;
  stroke: #6b6b6b;
  /*Colore di sotto del border*/
  stroke-width: 20;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.timer>svg>circle+circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: square;
  /*Bordo a punta quadrata*/
  stroke-opacity: 1;
  stroke: #00ffff;
  /*Colore del border*/
}

.timer>svg>circle+circle {
  transition: stroke-dashoffset 0.3s ease;
}

text {
  font-size: 0.6rem;
  fill: white;
  font-family: 'Outfit', sans-serif;
}

#timeLeft {
  font-size: 50px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
}

#para {
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

#numberQ {
  letter-spacing: 0.15rem;
}

#barraDomanda {
  color: #D20094;
}

#nxtBtn {
  align-self: center;
}

#containerBenchmark fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: none;
  margin-bottom: 30px;
} 

.risposte {
  margin: 10px 0px;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 4px solid white;
  flex-basis: 40%;
}

.risposte:hover {
  background-color: #D20094;
}

#containerBenchmark input{
  opacity: 0.01;
  z-index: 100;
}

#containerBenchmark input:checked+label {
  background: yellow;
}

/* css per welcome page*/

#procedi form {
  width: 85%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 20px;
}


.but {
  background-color: #00ffff;
  width: 200px;
  height: 60px;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.but:hover {
  box-shadow: 0px 0px 40px 5px #00ffff;
}


#inizio h3 {
  margin: 0;
}

ul li {
  line-height: 1.7;
}

ul {
  margin: 0 30;
}

/*feedback*/

#containerFeedback {
  text-align: center;
}


.commento {
  width: 100%;
  border: none;
  border-bottom: 2px solid #D20094;
  background-color: transparent;
  margin-top: 20px;
  color: white;
  outline: none;
}

#infoBtn {
  margin-top: 50px;
}

.para {
  margin-top: 0;
  font-size: 1.3em;
}

.lasciaFeedback {
  margin-top: 80px;
}
/*
